.hero-box__top{
    position: relative;
}


.site-title{
    display: inline;
    position: relative;
    margin: 0;
    left: calc(50% + -800px);
    top: -100px;
    text-align: center;
    font-family: "Assistant";
    font-size: 400px;
    line-height: 600px;
    color: #000;
    cursor: context-menu;
}
.hero-info-box{
    position: absolute;
    top: 55%;
    right: 8%;
    width: 100%;
    max-width: 300px;
}
.hero-info-title{
    font-family: "Assistant";
    font-size: 30px;
    line-height: 40px;
    margin: 0;
    margin-bottom: 5px;
}
.hero-info-text{
    font-family: "Assistant";
    font-size: 15px;
    line-height: 20px;
}

.result-box{
    position: relative;
    width: 100%;
    margin: 0 auto;
    top: -60px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    list-style: none;
    gap: 105px;
    padding: 0;
}

.pagination-list{
    position: relative;
    margin-left: auto;
    margin-right: 100px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

}
.pagination-list__number{
    cursor: pointer;
    font-family: "Assistant";
    font-size: 20px;
    line-height: 30px;
    padding: 3px 4px;
    margin: 0;
    
}
.pagination-list-mark{
    font-family: "Assistant";
    font-size: 20px;
    line-height: 30px;
    margin: 0;
}

.pageination-style{
    padding: 3px 4px;
    background-color: #000;
    color: #ffc107;
    border-radius: 8px;
}
$colors:
  hsla(337, 84, 48, 0.75)
  hsla(160, 50, 48, 0.75)
  hsla(190, 61, 65, 0.75)
  hsla( 41, 82, 52, 0.75);
$size: 2.5em;
$thickness: 0.5em;

// Calculated variables.
$lat: ($size - $thickness) / 2;
$offset: $lat - $thickness;


.loader {
    position: relative;
    width: $size;
    height: $size;
    transform: rotate(165deg);
    
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      display: block;
      width: $thickness;
      height: $thickness;
      border-radius: $thickness / 2;
      transform: translate(-50%, -50%);
    }
    
    &:before {
      animation: before 2s infinite;
    }
    
    &:after {
      animation: after 2s infinite;
    }
  }
  
  @keyframes before {
    0% {
      width: $thickness;
      box-shadow:
        $lat (-$offset) nth($colors, 1),
        (-$lat) $offset nth($colors, 3);
    }
    35% {
      width: $size;
      box-shadow:
        0 (-$offset) nth($colors, 1),
        0   $offset  nth($colors, 3);
    }
    70% {
      width: $thickness;
      box-shadow:
        (-$lat) (-$offset) nth($colors, 1),
        $lat $offset nth($colors, 3);
    }
    100% {
      box-shadow:
        $lat (-$offset) nth($colors, 1),
        (-$lat) $offset nth($colors, 3);
    }
  }
  
  @keyframes after {
    0% {
      height: $thickness;
      box-shadow:
        $offset $lat nth($colors, 2),
        (-$offset) (-$lat) nth($colors, 4);
    }
    35% {
      height: $size;
      box-shadow:
          $offset  0 nth($colors, 2),
        (-$offset) 0 nth($colors, 4);
    }
    70% {
      height: $thickness;
      box-shadow:
        $offset (-$lat) nth($colors, 2),
        (-$offset) $lat nth($colors, 4);
    }
    100% {
      box-shadow:
        $offset $lat nth($colors, 2),
        (-$offset) (-$lat) nth($colors, 4);
    }
  }
  
  
  
  /**
   * Attempt to center the whole thing!
   */
  
  html,
  body {
    height: 100%;
  }
  
  .loader {
    position: absolute;
    top: calc(50% - #{$size / 2});
    left: calc(50% - #{$size / 2});
  }