
.list-item{
    position: relative;
    border-radius: 2px;
    background-color: #fff;
    width: 100%;
    max-width: 400px;

}

.news-img{
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    width: 400px;
    height: 250px;

}

.list-item:nth-child(even){
    background-color: #000;
}

.list-item:nth-child(even) * p,a{
    color: #fff;
}   
.list-item * p, a{
    color: #000;
}
.link-to-site{
    color: #000;
    text-decoration: none;
}
.item-title{
    margin-top: 8px;
    font-family: "Assistant";
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 12px;
}
.item-text-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 10px;
    padding-bottom: 15px;
}

.btn-summury{
    padding: 5px 8px;
    border-radius: 5px;
    color: #fff;
    background-color: #e60e0e;
    border: none;
}

.news-time{
    position: absolute;
    right: 10px;
    bottom: -10px;
    opacity: 0.4;
    font-size: 12px;
    line-height: 15px;
}


.btn-time-box{
    margin-top: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}